.header {
	color: $white-txt-cl;

	@media screen and (min-width: 720px) {
		position: relative;
		width: 720px;
		padding: 0 10px;
		margin: 0 auto;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

.header-absolute {
	&.no-transparency {
		backdrop-filter: blur(4px);
		background-color: rgb(46, 54, 62, 0.8);
	}

	@media screen and (max-width:719px) {
		position: fixed;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 80px;
	}

	@media screen and (min-width: 720px) {
		position: absolute;
		top: 0;
		width: 700px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 37px;
	}

	@media screen and (min-width: 1200px) {
		width: 1180px;
	}
}

.header__title {
	font-weight: 500;
	font-size: 21px;
	line-height: 1.43;
	user-select: none;

	.header-absolute.no-transparency & {
		top: 24px;
	}

	@media screen and (max-width: 719px) {
		position: absolute;
		top: 37px;
		left: 30px;
	}
}

.menu-open {
	position: absolute;
	top: 32px;
	right: 30px;

	fill: #ffffff;
	transform: rotate(180deg);
	transform-origin: center;

	.header-absolute.no-transparency & {
		top: 24px;
	}

	@media screen and (min-width: 720px) {
		display: none;
	}
}

.header__icon {
	fill: #ffffff;
}

.header__wrap {
	display: flex;
	align-items: center;

	@media screen and (max-width: 719px) {
		display: none;
	}
}

.header__address {
	margin-right: 10px;
	display: flex;
	gap: 12px;

	@media screen and (min-width: 1200px) {
		margin-right: 69px;
	}
}

.wrap-svg {
	margin-top: 4px;
}

.header-address__text {
	width: 122px;

	font-size: 10px;
	line-height: 1.5;

	@media screen and (min-width: 1200px) {
		font-size: 12px;
	}
}

.header__tel {
	display: flex;
	gap: 15px;
}

.header-tel__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.52;

	@media screen and (min-width: 1200px) {
		font-size: 20px;
	}
}

.header-tel__desc {
	font-size: 10px;
	line-height: 1.5;

	@media screen and (min-width: 1200px) {
		font-size: 13px;
	}
}