.hero {
	@extend %section-dark;
	padding: 150px 0 150px;

	background-image: url(../images/hero/hero@1x.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image: url(../images/hero/hero@2x.webp);
	}

	@media (min-device-pixel-ratio: 3),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		background-image: url(../images/hero/hero@3x.webp);
	}


	@media screen and (max-width: 719px) {
		text-align: center;
	}

	@media screen and (min-width: 1200px) {
		padding: 307px 0 525px;
	}

}

.hero__button-sec {
	@extend %button-sec;
}

.hero__title {
	@extend %subtitle;
	max-width: 400px;
	margin-bottom: 24px;

	font-weight: 700;

	@media screen and (max-width: 719px) {
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (min-width: 720px) {
		max-width: 500px;
	}

	@media screen and (min-width: 1200px) {
		max-width: 647px;
	}
}

.hero__desc {
	max-width: 300px;
	margin-bottom: 40px;

	font-size: 18px;
	line-height: 1.43;

	@media screen and (max-width: 719px) {
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (min-width: 720px) {
		max-width: 400px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 24px;
		max-width: 544px;
	}
}

.hero__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;

	@media screen and (min-width: 720px) {
		flex-direction: row;
	}
}

.hero__button {
	@extend %button;
	padding: 30px 50px;

	color: $grey-txt-cl-1;

	@media screen and (max-width: 719px) {
		padding: 20px 40px;
	}
}

.hero__text {
	max-width: 150px;

	@media screen and (max-width: 1199px) {
		color: $grey-txt-cl-1;
		font-weight: 700;
	}
}