.upload-photo {
	@extend %section-dark;

	background-image: url(../images/upload-photo/bgc-img-3@1x.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -50px 590px;

	@media screen and (min-width:333px) {
		background-position: -50px 540px;
	}

	@media screen and (min-width:381px) {
		background-position: -50px 510px;
	}

	@media screen and (min-width:391px) {
		background-position: -50px 460px;
	}

	@media screen and (min-width:500px) {
		background-position: -150px 460px;
	}

	@media screen and (min-width:720px) {
		background-position: -500px 150px;
	}

	@media screen and (min-width:1200px) {
		background-position: -500px 250px;
	}

	@media screen and (max-width:719px) {
		text-align: center;
	}

	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image: url(../images/upload-photo/bgc-img-3@2x.webp);
	}

	@media (min-device-pixel-ratio: 3),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		background-image: url(../images/upload-photo/bgc-img-3@3x.webp);
	}
}

.upload-photo__bgi-2 {
	width: 100%;
	height: 150px;

	background-image: url(../images/upload-photo/bgc-img-2@1x.webp);
	background-size: cover;

	@media screen and (min-width:1200px) {
		height: 330px;
	}

	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image: url(../images/upload-photo/bgc-img-2@2x.webp);
	}

	@media (min-device-pixel-ratio: 3),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		background-image: url(../images/upload-photo/bgc-img-2@3x.webp);
	}
}

.upload-photo__bgi-1 {
	width: 100%;
	height: 200px;

	background-image: url(../images/upload-photo/bgc-img-1@1x.webp);
	background-size: cover;

	@media screen and (min-width:1200px) {
		height: 489px;
	}


	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image: url(../images/upload-photo/bgc-img-1@2x.webp);
	}

	@media (min-device-pixel-ratio: 3),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		background-image: url(../images/upload-photo/bgc-img-1@3x.webp);
	}
}

.upload-photo__wrap {
	max-width: 481px;
	margin-left: auto;

	@media screen and (min-width:720px) {
		padding-top: 79px;
	}
}

.upload-photo__button-sec {
	@extend %button-sec;
}

.upload-photo__title {
	@extend %subtitle;
	margin-bottom: 24px;
}

.upload-photo__text {
	margin-bottom: 40px;

	font-size: 21px;
	line-height: 1.43;
	letter-spacing: -0.2px;
}

.upload-photo__button {
	@extend %button;
	padding: 20px 40px;

	@media screen and (min-width:1200px) {
		padding: 30px 50px;
	}
}