// Bgc-color
$dark-bgc-cl: #081130;

// Txt-colors
$grey-txt-cl-1: #2E363E;
$grey-txt-cl-2: #434B53;
$grey-txt-cl-5: #7E868E;
$grey-txt-cl-7: #A6AEB6;
$white-txt-cl: #ffffff;
$blue-txt-cl: #4A94FF;

// Transition
$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);